* {
    font-family: Helvetica, Arial, Sans-Serif;
}

a {
    text-decoration: none;
}

th, td {
    padding: 15px;
}

table {
    border-spacing: 10px;
    height: auto;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}

.btn {
    border: none;
    background-color: inherit;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
    background-color:gray;
    /*#04AA6D;*/
  }
  
  .sduccess {
    color: green;
  }
  
/* tooltip */
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 420px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 12px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }