{{ define "page" -}}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Remind Me</title>
  <meta http-equiv="refresh" content="60">
  
  <link rel="stylesheet" href="/fontsizes.css">
  <link rel="stylesheet" href="/styles.css">
  {{block "css" .}}
  {{end}}
</head>

<body>
{{block "body" .}}
{{end}}
</body>
</html>

{{- end }}
