{{ define "body" -}}
<table>
    {{- range . -}}
    <tr style="background-color: {{.Color}};">
        <td><a href="/deed?id={{.ID}}">{{.Name}}</a></td>
        <td><a href="/update?id={{.ID}}">&#x2705;</a></td>
    </tr>
    {{- end -}}
</table>
<br>
<a href="/edit">+ Add</a>
{{- end }}
