{{ define "page" -}}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Warning</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="/fontsizes.css">
  {{block "css" .}}
  {{end}}
</head>

<body>
  {{ .Text }}<br/>
  <a href="/">Home</a>
</body>
</html>

{{- end }}